$white: #ffffff;
$black: #000000;

$light-grey: #cccccc;
$medium-grey: #999999;
$dark-grey: #848484;

$soundcloud-orange-1: #f50;
$soundcloud-orange-2: #f30;
$soundcloud-font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

$label-text-colour: $dark-grey;
