@use './variables' as *;

.app {
  min-height: 100%;
  padding-left: 36px;
  padding-right: 36px;
  text-align: center;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
