.press-shot-1 {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%), url('../../../assets/press-shot-1-low-res.jpg') 68% 39%;
}

.press-shot-3 {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%), url('../../../assets/press-shot-3-low-res.jpg') 56% 50%;
}

.press-shot-4 {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%), url('../../../assets/press-shot-4-low-res.jpg') 54% 39%;
}

.press-shot-1,
.press-shot-3,
.press-shot-4 {
  min-height: 600px;
  background-size: cover;
}

.carousel {
  width: 80%;
  height: 100%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .press-shot-1,
  .press-shot-3,
  .press-shot-4 {
    margin-top: 14px;
  }

  .carousel {
    width: 100%;
  }

  .carousel-item__header {
    font-size: 16px;
    font-weight: 700;
  }

  .carousel-item__description {
    font-size: 12px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .carousel-item__header {
    font-size: 18px;
    font-weight: 700;
  }

  .carousel-item__description {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .carousel-item__header {
    font-size: 20px;
    font-weight: 700;
  }

  .carousel-item__description {
    font-size: 16px;
  }
}
