.contact {
  margin: auto;
  width: 80%;
}

.title {
  margin-bottom: 0;
}

.email {
  color: #848484;
}

.email:hover {
  color: #848484;
}

.title-and-email {
  margin-bottom: 48px;
}

.press-shot-2 {
  max-height: 900px;
  max-width: 600px;
  height: inherit;
  width: inherit;
}
