.email-status-msg__hide,
.email-status-msg {
  color: #848484;
  margin-bottom: 12px;
  margin-top: 12px;
}

.email-status-msg__hide {
  visibility: hidden;
}

.spinner {
  margin-left: 8px;
  vertical-align: baseline;
}

.form-instruction {
  color: #848484;
}

.form-label {
  float: left;
}

.title-and-email {
  margin-top: 12px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 0;
}

.email {
  color: #848484;
}

.email:hover {
  color: #848484;
}

.sending-label {
  display: inline-block;
  margin-right: 8px;
}

textarea.form-control { 
  resize: none;
  height: 253px;
}

@media (min-width: 1081px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .press-shot-2 {
    height: inherit;
    width: 500px;
  }

  .email-and-form {
    width: 400px;
    margin-left: 60px;
  }
}

@media only screen and (max-width: 1080px) {
  .contact {
    flex-direction: column;
  }

  .press-shot-2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    height: inherit;
    width: 100%;
    min-width: 282px;
    max-width: 500px;
  }

  .email-and-form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 282px;
    max-width: 500px;
  }
}
