.music {
  margin-top: 24px;
  max-width: 1600px;
  margin: auto;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 326px);
  justify-content: center;
  align-content: flex-start;
}

.song {
  width: 300px;
  height: 320px;
  margin: 14px;
}

.song-details {
  font-size: 10px; 
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  margin-top: 10px;
}

.channel-name {
  color: #cccccc; 
  text-decoration: none;
}

.artist-and-song-name {
  color: #848484; 
  text-decoration: none;
}

.artist-and-song-name:hover {
  color: #ffffff;
}

.song-media-container {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
}

.song-media-header {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 0 90px;
  padding: 14px 11px 14px 10px;
  z-index: 100;
}

.song-media-play-button {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  background: transparent;
  flex-shrink: 0;
  margin: 2px 5px 1px 1px;
}

.soundcloud-logo {
  margin: auto;
  flex-shrink: 0;
  margin-left: 10px;
  margin-top: -2px;
  width: 100px;
  height: 14px;
}

.song-media-song-name,
.song-media-channel-name {
  display: block;
  text-align: start;
  padding-left: 6px;
  padding-right: 6px;
  background: rgba(0,0,0,.8);
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  display: inline-block;
  max-width: 100%;
  outline-offset: -1px;
  font-weight: 100;
}

.song-media-channel-name {
  color: #ccc;
  font-size: 12px;
  line-height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  text-decoration: underline;
}

.song-media-song-name {
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
}

.song-media-song-name:hover {
  text-decoration: none;
}

.song-media-channel-name:hover,
.song-media-song-name:hover {
  color: #999;
}

.song-media-channel-and-song-name {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-media-img {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
