.navigation {
  margin-top: 12px;
}

.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #848484;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.4s ease;
}

.nav-item:hover,
.active {
  color: white;
  text-decoration: none;
}