.music {
  margin-top: 24px;
}

.song {
  margin-bottom: 18px;
}

.song-details {
  font-size: 10px; 
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}

.channel-name {
  color: #cccccc; 
  text-decoration: none;
}

.artist-and-song-name {
  color: #cccccc; 
  text-decoration: none;
}